<form #forgotPasswordForm="ngForm" (ngSubmit)="submit()">
    <md-card>
        <md-card-header>
            <md-card-title>Forgot password</md-card-title>
        </md-card-header>

        <md-card-content>
            <md-form-field>
                <input mdInput type="email" name="email" [(ngModel)]="data.email" placeholder="Email"
                       #email="ngModel" required email>

                <md-error *ngIf="email.errors?.email">Please enter a valid <strong>email</strong> address</md-error>
                <md-error *ngIf="email.errors?.required">Email is <strong>required</strong></md-error>
            </md-form-field>

            <button md-raised-button color="primary" type="submit" [disabled]="!forgotPasswordForm.form.valid">
                <span class="fa fa-share"></span>
                <span>Send reminder</span>
            </button>

            <a md-button routerLink="../signin" >Take me back to sign in page</a>
        </md-card-content>
    </md-card>
</form>