<div *ngIf="tokenValid === undefined">
    <md-spinner></md-spinner> Checking token...
</div>

<md-card *ngIf="tokenValid === false">
    <md-card-header>
        <md-card-title>Reset token is invalid or expired, please send new password reminder and try again.</md-card-title>
    </md-card-header>
    <md-card-content>
        <a md-button routerLink="../signin" >Take me back to sign in page</a>
    </md-card-content>
</md-card>

<form #changePasswordForm="ngForm" (ngSubmit)="submit()" *ngIf="tokenValid === true">
    <md-card>
        <md-card-header>
            <md-card-title>Set new password</md-card-title>
        </md-card-header>

        <md-card-content>
            <md-form-field>
                <input mdInput type="password" name="password" [(ngModel)]="data.password" placeholder="Password"
                       #password="ngModel" required minlength="4">

                <md-error *ngIf="password.errors?.minlength">Password must be <strong>at least 4</strong> characters long</md-error>
                <md-error *ngIf="password.errors?.required">Password is <strong>required</strong></md-error>
            </md-form-field>

            <md-form-field>
                <input mdInput type="password" name="repeatPassword" [(ngModel)]="data.repeatPassword" placeholder="Repeat password"
                       #repeatPassword="ngModel" required validateEqualTo="password">

                <md-error *ngIf="repeatPassword.errors?.validateEqual">Passwords <strong>don't match</strong></md-error>
                <md-error *ngIf="repeatPassword.errors?.required">Repeat password is <strong>required</strong></md-error>
            </md-form-field>

            <button md-raised-button color="primary" type="submit" [disabled]="!changePasswordForm.form.valid">
                <span class="fa fa-key"></span>
                <span>Change Password</span>
            </button>

            <a md-button routerLink="../signin" >Take me back to sign in page</a>
        </md-card-content>
    </md-card>
</form>